.page-category{
    margin: 0 10%;
    border-color: orange; 
    border-style: double;
    background-color: green;
    min-height: 200vh;
}
/*Container header*/

.container__header{
    border-color: blue; 
    border-style: double;
    background-color: aqua;
}

.container__header__title{
    display: inline-flex;
    
    h6{
        display: inline-flex;
        font-size: 0.75rem;
        background-color: oklch(.95 .0058 264.53);
        border-radius: 10px;
        height: fit-content;
    }
}

/*Containers principal*/
.container__content{
    contain: content;
    display: grid;
    grid-template-columns: 70% 30%;

}

/*Subcontaners*/
.container__content__left{
    display: grid;
    width: 100%;
}

.container__content__right{
    display: grid;
    width: 100%;
}

/*Container do carrossel*/
.content__carousel{
    /*Container principal do carrossel*/
    width: 100%;
    height: 30rem;
    border-color: blue;
    border-style: double;
    background-color: aquamarine;
}

.content__carousel__header{
    padding: 0.25rem 0.5rem 0.5rem;
}

.content__carousel__carousel{
    /*Área do Carrossel*/
    width: 100%;
    height: 30rem;
    border-color: red;
    border-style: double;
    background-color: lightcoral;
}

/*Container dos cards*/
.content__cards{
    width: 100%;
    height: 30em;
    border-color: orange;
    border-style: double;
    background-color: yellow;
}

.cards__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-bottom: 1.5rem;
    border-color: rgb(133, 12, 32);
    border-style: double;
    background-color: beige;
}

.cards__content{
    /*Área dos Cards*/
    width: 100%;
    height: 25rem;
    border-color: rgb(9, 88, 52);
    border-style: double;
    background-color: rgb(232, 220, 245);
}

/*Container das Headlines*/
.content__headlines{
    contain: content ;
    width: 100%;
    height: 50rem;
    justify-self: end;
    border-color: rgb(92, 245, 4);
    border-style: double;
    background-color: rgb(22, 0, 46);
    padding: 50% 0;
}

/*Container com boões de categorias*/
.content__categories{
    display: block;
    width: 100%;
    height: 10rem;
    border-color: rgb(29, 78, 0);
    border-style: double;
    background-color: rgb(123, 0, 255);

    h4{
        padding: 1%;
    }
}

.categories__btn{
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    justify-content: space-around;
    padding: 2% 5%;
}

.btn__custom{
    padding: 0 5%;
    border-radius: 150px;
    border-style: solid;
    background-color: color-mix(in oklab, rgba(216, 214, 214, 0.226) 50%, rgba(203, 203, 206, 0.438) 50%);
}

.btn__custom__hidden{
    display: none;
}

@media all and (max-width: 1024px) {
    
    .container__content{
        display: grid;
        grid-template-columns: 100%;
    }

    .categories__btn{
        display: inline-flex;
        width: 100%;
        row-gap: 0.5rem;
        justify-content: space-around;
        padding: 2%;
    }
}