main{
    border-color: orange; 
    border-style: double;
    background-color: green;
}
.container__header{
    /* Temporary settings */
    border-color: blue; 
    border-style: double;
    background-color: aqua;
}

.container__header__title{
    display: inline-flex;
    
    h6{
        display: inline-flex;
        font-size: 0.75rem;
        background-color: oklch(.95 .0058 264.53);
        border-radius: 10px;
        height: fit-content;
    }
}

.container__content{
    display: grid;
}

.container__content__left{
    grid-row: 1;
    grid-column: 1;
}

.container__content__right{
    grid-row: 1;
    grid-column: 2;
}

.content__carousel{
    width: 50rem;
    height: 30rem;
    border-color: blue;
    border-style: double;
    background-color: aquamarine;
}

.content__carousel__header{
    padding: 0.25rem 0.5rem 0.5rem;
}

.content__carousel__carousel{
    width: 100%;
    height: 30rem;
    border-color: red;
    border-style: double;
    background-color: lightcoral;
}

.content__cards{
    display: block;
    width: 50rem;
    height: 30em;
    border-color: orange;
    border-style: double;
    background-color: yellow;
}

.cards__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-bottom: 1.5rem;
    border-color: rgb(133, 12, 32);
    border-style: double;
    background-color: beige;
}
.cards__content{
    width: 100%;
    height: 25rem;
    border-color: rgb(9, 88, 52);
    border-style: double;
    background-color: rgb(232, 220, 245);
}

.content__headlines{
    width: 100%;
    height: 50rem;
    justify-self: end;
    border-color: rgb(92, 245, 4);
    border-style: double;
    background-color: rgb(22, 0, 46);
}

.content__categories{
    display: block;
    width: 100%;
    height: 10rem;
    border-color: rgb(29, 78, 0);
    border-style: double;
    background-color: rgb(123, 0, 255);

    h4{
        padding: 1%;
    }
}

.categories__btn{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-around;
    padding: 5% 5%;
}

.btn__custom{
    padding: 0 5%;
    border-radius: 100px;
    border-style: solid;
    background-color: color-mix(in oklab, rgba(216, 214, 214, 0.226) 50%, rgba(203, 203, 206, 0.438) 50%);
}