@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700;800&display=swap");

@font-face {
    font-family: 'Moon Get';
    src: url("../fonts/moon_get/moon_get-Heavy.otf") format('opentype'),
        url("../fonts/moon_get/moon_get-Heavy.ttf") format('truetype');
}

@font-face {
    font-family: 'Heavitas';
    src: url("../fonts/heavitas/Heavitas.ttf") format("truetype");
}