@import "./fonts.css";

/* Footer */
footer{
    background-color: color-mix(in oklab, #ececf0 30%, #0000 0%);
    margin-top: 2rem;
    padding-block: 1.5rem;
    padding-block-end: 0.5rem;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #dcdcf0;
}
.footer__container{
    max-width: 80%;
}
.footer__text__title{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.footer__text{
    font-size: 0.85rem;
}
.footer__btn{
    background: hsla(209, 14%, 50%, 0.616);
}
.footer__newsletter{
    background-color: color-mix(in oklab, hsla(240, 4%, 52%, 0.137) 100%, #0000 0%);
    border-radius: 8px;
    border-style: solid;
    border-width: 0.4px;
    border-color: hsla(0, 0%, 45%, 0.171);
    padding: 0.25rem;
    margin-top: 0.35rem;
    max-width: 25rem;

    ::placeholder{
        font-size: small;
    }
    input{
        background-color: white;
        border-radius: 5px;
    }
}
.bi{
    color: rgba(46, 46, 46, 0.87);
}